.about {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about_text h1 {
  color: var(--title);
  font-weight: 900;
  font-size: 2.5rem;
}

.about_text p {
  color: var(--text);
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 20px;
}

.about_img img {
    width: 20vw;
    border-radius: 10%;
}


.about_text span{
  color: var(--bold);
  font-weight: 800;
}

@media (max-width: 768px) {
  .about {
    justify-content: center;
    flex-direction: column;
  }
  .about_img img{
    display: none;
  }
  .about_text p {
    font-size: 1rem;
  }

.about_text h1 {
  font-size: 2rem;
}

}

/* landing  */

.landing{
  height: calc(90vh - 75px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;

}
.landing_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.landing_text h1 {
  color: var(--title);
  font-size: 2rem;
  font-weight: 900;
}
.landing_text p {
  color: var(--text);
  font-size: 1.5rem;

}
.landing_text span {
  animation: neonColors 5s infinite ease-in-out;
  text-shadow:
    0 0 5px #fff,     
    0 0 10px #fff,    
    0 0 20px #ff00ff,  
    0 0 40px #ff00ff,  
    0 0 80px #ff00ff;  
}

@keyframes neonColors {
  0%   { color: #00F5A0; text-shadow: 0 0 5px #00F5A0, 0 0 10px #00F5A0, 0 0 15px #00F5A0; }
  25%  { color: #00D9F5; text-shadow: 0 0 5px #00D9F5, 0 0 10px #00D9F5, 0 0  15px #00D9F5; }
  50%  { color: #9B5DE5; text-shadow: 0 0 5px #9B5DE5, 0 0 10px #9B5DE5, 0 0 15px #9B5DE5; }
  75%  { color: #F15BB5; text-shadow: 0 0 5px #F15BB5, 0 0 10px #F15BB5, 0 0 15px #F15BB5; }
  100% { color: #00F5A0; text-shadow: 0 0 5px #00F5A0, 0 0 10px #00F5A0, 0 0 15px #00F5A0; }
}
.landing_buttons button{
  background-color: var(--primary);
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
.avatar img {
  width: 25vw;
  animation: chake 5s infinite ease-in-out;
}

@keyframes chake {
  0% {
    transform: translateX(-5px);
    transform: translateY(-5px);
  }
  25% {
    transform: translateX(5px);
    transform: translateY(5px);
  }
  50% {
    transform: translateX(-5px);
    transform: translateY(-5px);
  }
  75% {
    transform: translateX(5px);
    transform: translateY(5px);
  }
  100% {
    transform: translateX(-5px);
    transform: translateY(-5px);
  }
}

