.about {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about_text h1 {
  color: var(--title);
  font-weight: 900;
  font-size: 2.5rem;
}

.about_text p {
  color: var(--text);
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 20px;
}

.about_img img {
    width: 20vw;
    border-radius: 10%;
}


.about_text span{
  color: var(--bold);
  font-weight: 800;
}

@media (max-width: 768px) {
  .about {
    justify-content: center;
    flex-direction: column;
  }
  .about_img img{
    display: none;
  }
  .about_text p {
    font-size: 1rem;
  }

.about_text h1 {
  font-size: 2rem;
}

}
