/* .landing_page{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.landing_page_img img {
    width: 200px;
    margin-right: 80px;
    border-radius: 10%;
}

.landing_page_text{
  width: 60vw;
}

.landing_page_text h1{
  color: var(--title);
  font-size: 2.5rem;

}

.landing_page_text p{
  color: var(--second);
  font-size: 1.2rem;
} */

.landing_page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.landing_page_text h1 {
  color: var(--title);
  font-weight: 900;
  font-size: 3rem;
}

.landing_page_text p {
  color: var(--text);
  font-size: 2rem;
  line-height: 1.6;
}

.landing_page_img img {
    width: 200px;
    border-radius: 10%;
}


.landing_page_text span{
  color: var(--bold);
  font-weight: 800;
}

@media (max-width: 768px) {
  .landing_page {
    justify-content: center;
    flex-direction: column;
  }
  .landing_page_img img{
    margin: 0;
  }
  .landing_page_text p {
    font-size: 1rem;
  }

.landing_page_text h1 {
  font-size: 2.5rem;
}

}
