:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color:#8ECAE6;
  --primary:#FB8500;
  --second:#023047;
  --text: #219EBC;
  --bold:#1a214b;
  --title:#FFB703;
  --filter-color:#6b007b;
}

[data-theme='light']{
  --background-color:#8ECAE6;
  --primary:#FB8500;
  --second:#023047;
  --text: #219EBC;
  --bold:#1a214b;
  --title:#FFB703;
  --filter-color:#6b007b;

}

[data-theme='dark']{
  --background-color: #0B1E27; 
  --primary: #FFB703;            
  --second: #8ECAE6;             
  --text: #ADE8F4;     
  --bold:#0026ff;        
  --title: #FB8500;
  --filter-color:#00ffff; 
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

